flow.json
[{"id":"55bd91d4.8a2da8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a33db579.d86f38","type":"inject","z":"55bd91d4.8a2da8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":330,"y":100,"wires":[["d2fd27d0.1af48"]]},{"id":"d2fd27d0.1af48","type":"debug","z":"55bd91d4.8a2da8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":100,"wires":[]},{"id":"ff870cd6.d9a648","type":"ngrok","z":"55bd91d4.8a2da8","creds":"","name":"","x":560,"y":220,"wires":[[]]}]