flow.json
[{"id":"55bd91d4.8a2da8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2512d142.38bad6","type":"ngrokauth","z":""},{"id":"a33db579.d86f38","type":"inject","z":"55bd91d4.8a2da8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":330,"y":100,"wires":[["d2fd27d0.1af48"]]},{"id":"d2fd27d0.1af48","type":"debug","z":"55bd91d4.8a2da8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":100,"wires":[]},{"id":"ff870cd6.d9a648","type":"ngrok","z":"55bd91d4.8a2da8","port":"1880","creds":"2512d142.38bad6","region":"us","subdomain":"test","name":"","x":490,"y":200,"wires":[["ca902e4c.70ba6"]]},{"id":"ae4a5b26.9f7fe","type":"inject","z":"55bd91d4.8a2da8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":320,"y":200,"wires":[["ff870cd6.d9a648"]]},{"id":"ca902e4c.70ba6","type":"debug","z":"55bd91d4.8a2da8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":200,"wires":[]}]